th,
td {
    padding: 5px 10px;
	border: 1px solid;
	text-align: left;
}

.form_container{
    width: 100%;
    max-width: 400px;
    margin: 15px auto;
    text-align:center
}

.submit_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
}

.submit_button:hover {
    opacity: 0.5;
}

.table_header {
    margin: 15px 0;
    text-align: center;
}

table {
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
    border-spacing: 0;
}