<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ML_test_task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
    <div class="form_container">
        <form action="/post_form", method="post">
            <label class="input_label" for="text">Введите текст:</label>
            <input class="input_text" type="text" name="text">
            <input class="submit_button" type="submit" value="Отправить">
        </form>
        <p>Исправленный текст: {{ text }}</p>
    </div>

    <div class="table_container">
        <p class="table_header">Найденные ошибки:</p>
        <table>
            <thead>
                <tr>
                    <th>Ошибка</th>
                    <th>Тип</th>
                    <th>Причина</th>
                </tr>
            </thead>
            <tbody>
                {% for e in err %}
                <tr>
                    <td>{{ e[0] }}</td>
                    <td>{{ e[1] }}</td>
                    <td>{{ e[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>